<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> </title>
  </head>
  
  <body>
    <h1>About</h1>
    <p>
      Author: 
    <a href="https://www.facebook.com/tung.leduy.2207"> Lê Duy Tùng</a>
    </p>
    
  </body>
  
</html>

